@keyframes fade-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.about-me-card {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  animation-name: fade-in;
  animation-duration: 3s;
  z-index: 1;

  .profile {
    width: 80%;
    height: 95%;
    background-color: rgba(29, 29, 29, 0.5);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1.5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .profile-main {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .profile-info {
    padding-top: 2rem;
    text-align: center;
  }

  .profile-footer {
    text-align: center;
  }

  h1 {
    margin: none;
    color: white;
    font-size: var(--font-size-800);
    font-weight: 400;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  }

  h3 {
    color: white;
    font-size: var(--font-size-200);
    opacity: 0.8;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    font-family: 'Figtree', sans-serif;
  }

  p {
    font-size: var(--font-size-100);
    color: white;
    font-weight: 600;
    font-family: 'Figtree', sans-serif;
    text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    line-height: 150%;
  }

  .resume,
  .resume a button {
    width: 20vh;
    height: 8vh;

    button {
      border: solid 1px white;
      font-size: var(--font-size-500);
      background-color: #0A0A0A;
      color: white;
      border-radius: 50px;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);

      .resume-text {
        display: block;
        transition: 0.3s;
        font-size: var(--font-size-100);
      }

      .download-svg {
        display: block;
        font-size: var(--font-size-100);
      }
    }
  }
}

.img-header {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .profile-img {
    width: 80%;
    padding-bottom: 2vh;

    img {
      width: 100%;
      border-radius: 50%;
      object-fit: cover;
      object-position: top;
      border: solid 3px white;
      animation: 1s glow infinite alternate
    }
    img:hover {
      cursor: pointer;
      animation: none;
      box-shadow: 0 9px #AAADC4;
    }
    img:active {
      box-shadow: 0 5px #0A0A0A;
      transform: translateY(3px);
    }
  }

  .social-links {
    width: 100%;
    height: 20%;
    position: relative;
    display: flex;
    justify-content: center;
    text-align: center;

    a {
      width: 25%;

      img {
        width: 60%;
        filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
      }
    }
  }
}

.profile-body {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.summary {
  width: 70%;
  padding: 4rem 0;
  #profile-summary {
    text-align: center;
    line-height: 180%;
  }
}

.projects-button {
  padding-top: 1.5vh;

  p {
    padding-bottom: 5px;
  }

  svg {
    color: white;
  }

  .down-arrow:hover {
    cursor: pointer;
  }

  .down-arrow {
    svg {
      font-size: var(--font-size-100);
    }
  }
}

.websites {
  margin: 10px;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 600px) and (max-width: 900px) {
  .about-me-card {
    padding: 0 2rem;
    .img-header {
      width: 25%;
    }

    h1 {
      font-size: var(--font-size-300);
    }

    h3,
    p {
      font-size: var(--font-size-100);
    }

    .resume {
      width: 17vw;
      height: 5vw;

      a button {
        width: 17vw;
        height: 5vw;

        .resume-text {
          padding: 0;
        }

        .resume-text,
        .download-svg {
          font-size: 1rem;

        }
      }
    }
  }
}

@media screen and (min-width: 900px) and (orientation: landscape) {
  .about-me-card {
    .profile {
      width: 65%;
      height: 95%;
    }
    h1 {
      font-size: var(--font-size-900);
    }

    h3 {
      font-size: var(--font-size-400);
    }

    p {
      font-size: var(--font-size-200);
    }

    .resume {
      width: 15vw;
      height: 5vw;

      button {
        border-radius: 4rem;
        width: 15vw;
        height: 5vw;
        transition: ease-in-out 0.3s;

        .resume-text {
          padding: 0;
        }

        .resume-text,
        .download-svg {
          font-size: var(--font-size-100)
        }

        .download-svg {
          display: none;
        }
      }
    }

    .resume:hover {

      button {
        text-align: center;
        width: 8vw;
        border-radius: 1rem;
        cursor: pointer;
        transition: ease-in-out 0.3s;

        .resume-text {
          display: none;
        }

        .download-svg {
          display: block;
          font-size: var(--font-size-600);
        }
      }
    }
  }

  .summary {
    width: 65%;
    padding: 2rem 0;
  }

  .projects-button {
    padding-top: 1.5rem;

    p {
      padding: none;
    }

    .down-arrow svg {
      font-size: var(--font-size-400);
    }
  }

  .img-header {
    width: 25%;

    .profile-img {
      padding-bottom: 1vw;
    }

    .social-links {
      img {
        width: 2.5vw;
      }
    }
  }

}

@keyframes glow {
  from{
      box-shadow: 0 0 0px whitesmoke;
  }
  to {
      box-shadow: 0 0 5px whitesmoke;
  }
  to {
      box-shadow: 0 0 15px whitesmoke;
  }
}
