.background {
  svg {
    position: fixed;
    left: -10%;
    top: 0;
    z-index: -1;
    width: 200%;
    height: 105vh;
    will-change: transform;
  }
}

#circle_rotate {
  transform: rotate(10);
}
