.carousel {
  width: 100svw;
  height: 50svh;

  h4 {
    color: rgb(203, 201, 219);
    font-size: 2vw;
  }
}

.my-websites {
  display: grid;
  grid-template-columns: repeat(3, 1fr) repeat(2, 0fr);
  grid-template-rows: 1fr repeat(4, 0fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  position: relative;
  align-items: center;
  width: inherit;
  height: 80%;
  overflow: hidden;
  --grid-main: 2;
  --grid-left: 1;
  --grid-right: 3;

  .website-card:hover {

  }


  img {
    box-shadow: 0px 4px 4px rgba(220, 220, 220, 0.3);
    border-radius: 15px;
  }

  .focused-img {
    box-sizing: border-box;
    width: 35svw;
    grid-row: 1;
    grid-column: 2;
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }

  .unfocused-img-left {
    box-sizing: border-box;
    width: 25svw;
    grid-row: 1;
    grid-column: 1;
    position: absolute;
    top: 50%;
    right: 60%;
    transform: translate(0%, -50%);
    z-index: 0;
  }

  .unfocused-img-right {
    box-sizing: border-box;
    width: 25svw;
    grid-row: 1;
    grid-column: 3;
    position: absolute;
    top: 50%;
    left: -20%;
    transform: translate(0%, -50%);
    z-index: 0;
  }
}
