#projects-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  box-sizing: border-box;

  .project-card {
    display: flex;

    padding: 10px;
    margin: 10px;
    background-color: white;

    img {
      width: 50vw;
    }
  }
}
